* {
  font-family: 'Roboto', sans-serif;
}

p,
span,
strong,
small {
  @apply text-white;
}

h2 {
  @apply text-blue-200 font-light text-3xl;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 1080px) {
  html {
    font-size: 87.5%;
  }
}

body,
input,
select,
textarea,
button {
  font-family: 'Roboto', sans-serif;
}
