.input {
  border-radius: 0;
  border: 2px solid #d1d1d1;
}

label {
  @apply block font-bold text-sm text-gray-100;
}

.input-default {
  @apply input rounded-none text-gray-100 py-4 font-normal px-4 border;
}

.select-default {
  @apply rounded-none text-gray-100 py-4 font-normal px-4 border;
}

textarea {
  @apply rounded-none text-gray-100 py-4 font-normal px-4 border;
}

input[type='text'],
input[type='password'],
input[type='email'],
input[type='url'],
input[type='tel'],
input[type='number'],
input[type='search'] {
  width: 100%;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 0;
}

.label-float {
  position: relative;
  width: 100%;
}

.label-float input {
  outline: none;
  min-width: 180px;
  font-size: 16px;
  transition: all 0.3s ease-out;
  appearance: none;

  &:disabled {
    background: #f5f5f5;
    border: rgb(224, 224, 224) solid 2px;
    cursor: not-allowed;
  }
}

.label-float input::placeholder {
  color: transparent;
}

.label-float label {
  pointer-events: none;
  position: absolute;
  top: 15px;
  left: 0;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 8px;
  transition: all 0.2s ease-out;
  background-color: white;
  padding-inline: 4px;
}

.label-float input:required:invalid + label:before {
  content: '*';
}

.label-float input:focus + label,
.label-float input:not(:placeholder-shown) + label {
  font-size: 13px;
  margin-top: 0;
  color: rgb(53, 53, 53);
  top: -8px;
}
