.swiper-pagination-bullets {
  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    display: inline-block;
    background-color: azure;
    opacity: 0.5;
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
  }
}

.swiper-button-next,
.swiper-button-prev {
  &:hover {
    &::before {
      background-color: rgb(255, 255, 255);
    }
  }
  // &:active {
  //   &::before {
  //     box-shadow: 0px 4px 0px 2px rgba(0, 0, 0, 0.1);
  //   }
  // }
  &::before {
    content: '';
    width: 32px;
    height: 32px;
    background-color: rgba(255, 255, 255, 0.547);
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.1);
    z-index: -1;
    border-radius: 50%;
    position: absolute;
  }
  &:after {
    font-family: swiper-icons;
    font-size: 14px;
    font-weight: 600;
    color: #e22623;
    letter-spacing: 0;
    text-transform: none;
    font-variant: initial;
    line-height: 1;
  }
}
